*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
body{
    background-color: white;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
.left-section{
    grid-column: span 1;
    background-color: rgb(23, 36, 58);
    margin-left: 5%;
}
.right-section{
    grid-column: span 1/ span 2;
    background-color: white;
    margin-left: 5%;
}
.left-content{
    padding: 1rem;
}
.profile-image{
    width: 60%;
    height: 150px;
    border-radius: 30%;
    border: 5px solid white;
    display: block;
    margin: auto;
    align-items: center;
}
.profile-details{
    text-align: center;
}
.name{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    color: skyblue;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.description{
    color: white;
    font-size: 0.75rem;
    padding: 1rem;
    text-align: center;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
i{
    color: rgb(103, 103, 235);
}
